[submodule "costmap_converter"]
	path = costmap_converter
	url = https://github.com/qvqElsaqvq/costmap_converter.git
[submodule "obstacle_segmentation_tc"]
	path = obstacle_segmentation_tc
	url = https://github.com/qvqElsaqvq/obstacle_segmentation_tc.git
[submodule "teb_local_planner"]
	path = teb_local_planner
	url = https://github.com/qvqElsaqvq/teb_local_planner.git
